.container{
    background: white;
}

.navbar-brand {
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
}


li {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

h1 {
    font-family: 'Slabo 27px', serif;
    font-size:30px;
}

h2 {
    font-family: 'Slabo 27px', serif;
    font-size:30px;
}

h3 {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
}

.item img{
    filter: grayscale(100%);
    margin-left: auto;
    margin-right: auto;
}


.portfolio-img{
    padding: 10px;
    height: 240px;
    width: 240px;
    filter: grayscale(100%);
}

#contact-links{
    text-align: center;
}

.navbar-toggler{
    display:none;
    margin-top: 12px;
}

@media screen and (max-width: 768px) {
    .navbar-toggler{
        display:inline-block !important;
    }

}